services:
  database:
    image: mysql:latest
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: test-password
      MYSQL_DATABASE: event-practice-db
    volumes:
      - db-data:/var/lib/mysql

  redis:
    image: redis:latest
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: >
      /bin/sh -c "redis-server --requirepass ${REDIS_PASSWORD}"

volumes:
  db-data:
  redis-data:
