services:
  database:
    image: mysql:latest
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: test-password
      MYSQL_DATABASE: event-practice-db
    volumes:
      - db-data:/var/lib/mysql

volumes:
  db-data: